# Python
__pycache__/
*.pyc
*.pyo
.venv/
*.egg-info/

# Node
node_modules/
dist/
.cache/

# Env
.env
backend/.env
frontend/.env.local

# Uploads
backend/uploads/

# IDE
.vscode/
.idea/
*.swp
*.DS_Store
frontend/package-lock.json
